* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  color: white;
  font-family: 'Lato', sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 3px solid gray;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-right: 3px solid gray;
  padding: 0.5rem;
}

.link:hover {
  opacity: 60%;
}

.link>span:first-child {
  font-size: 1.5rem;
}

.link:last-child {
  border: none;
}

.container {}