* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: whitesmoke;
}

body {
  background-color: #252525;
  color: white;
  font-family: 'Lato', sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 3px solid gray;
}

h1,
h2 {
  text-align: center;
}

input[type="submit"],
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  background-color: burlywood;
  color: #1d1d1d;
}

input[type="submit"]:hover {
  opacity: 90%;
}

input[type="text"],
input[type="number"] {
  font-size: 0.9rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 4px;
}

input:disabled {
  cursor: not-allowed;
  opacity: 90%;
}

select {
  font-size: 0.9rem;
  padding: 0.2rem 0 0.2rem 0.3rem;
  margin-left: 0.4rem;
  width: 100%;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 4px;
}

.container {
  margin-top: 1.2rem;
}

.error {
  font-size: 0.9rem;
  color: tomato;
  display: block;
}


/*HEADER*/

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-right: 2px solid gray;
  padding: 0.5rem;
}

.link:hover {
  opacity: 60%;
}

.link>span:first-child {
  font-size: 1.5rem;
}

.link:last-child {
  border: none;
}

/*SALES*/

.table-container {
  width: 90%;
  margin: 2rem auto;
  max-height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
}

thead {
  text-align: left;
}

tr {
  background-color: #3a3a3a;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
  padding: 0.5rem;
}

tbody>tr:nth-child(odd) {
  background-color: #5c5c5c;
}

.form-sales {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  margin: 2rem auto;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field>input {
  width: 100%;
  margin-left: 0.4rem;
}

/*REPORT*/

.flex-records {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 2rem;
}

.first-line {
  display: flex;
  justify-content: space-around;
}

.second-line {
  align-self: center;
}

.record {
  height: 14rem;
  width: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  text-align: center;
  border-radius: 8px;
  background-color: #424242;
  box-shadow: 4px 4px 10px #141414;
}

.record>span {
  display: block;
}

/*PRODUCTS*/

.form-products {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  margin: 2rem auto;
}

.form-products>input[type="submit"] {
  margin-top: 1rem;
}

.money-span {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  font-size: 0.9rem;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 4px 2px 2px 4px;
  padding: 0 0.3rem 0 0.3rem;
  color: black;
}

.price-input {
  width: 100%;
  padding-left: 2.2rem !important;
}