* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #252525;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1,
h2 {
  text-align: center;
}

input[type="submit"],
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #748cab;
  color: #1d1d1d;
}

input[type="submit"]:hover {
  opacity: 90%;
}

input[type="text"],
input[type="number"] {
  font-size: 0.9rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 4px;
}

input:disabled {
  cursor: not-allowed;
  opacity: 90%;
}

select {
  font-size: 0.9rem;
  padding: 0.2rem 0 0.2rem 0.3rem;
  margin-left: 0.4rem;
  width: 100%;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 4px;
}

.container {
  margin-top: 1.2rem;
}

.error {
  font-size: 0.9rem;
  text-align: end;
  color: tomato;
  display: block;
}

/*--------------------HEADER--------------------*/

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #1d1d1d;
}

.link {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 0.8rem
}

.link:hover {
  opacity: 60%;
}

.link>span:first-child {
  font-size: 1.5rem;
}

/*--------------------REPORT--------------------*/

.flex-records {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 4rem 2rem 2rem 2rem;
}

.first-line {
  display: flex;
  justify-content: space-around;
}

.second-line {
  align-self: center;
}

.record {
  height: 45%;
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  text-align: center;
  border-radius: 8px;
  background-color: #424242;
  box-shadow: 4px 4px 10px #141414;
}

.record>span {
  display: block;
}

.profit {
  font-size: 1.7rem;
  color: #00CF66;
}

.prejudice {
  font-size: 1.7rem;
  color: #cf231d;
}

/* --------------------SALES--------------------*/

.form-sales {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  width: 90%;
  margin: 2rem auto;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field>input {
  width: 100%;
  margin-left: 0.4rem;
}

/*--------------------INLINE-FORM--------------------*/

.inline-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inline-form>h2 {
  margin-bottom: 1.5rem;
}

.inline-form>div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.inline-form>div>input {
  width: 100%;
}

.inline-form>div>input[type="number"] {
  padding-left: 2.2rem;
}

.money-span {
  display: flex;
  align-items: center;
  position: absolute;
  left: 25%;
  height: 100%;
  font-size: 0.9rem;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 4px 2px 2px 4px;
  padding: 0 0.3rem 0 0.3rem;
  color: black;
}

/*--------------------TABLE--------------------*/

.table-container {
  width: 95%;
  margin: 2rem auto;
  max-height: 70vh;
  overflow-y: auto;
  text-align: left;
  border-collapse: collapse;
}

th {
  background-color: #3a3a3a;
  padding: 0.5rem;
}

td {
  background-color: #5c5c5c;
  padding: 0.5rem;
}

/*--------------------POPUP--------------------*/

.popup {
  position: sticky;
  left: 0;
  top: 0.2rem;
  width: 100%;
  color: white;
  padding: 0.5rem;
}

.popup>strong {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

/*--------------------MODAL--------------------*/

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #252525;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogDescription {
  margin: 10px 0 20px;
  color: #A09FA6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.CloseButton {
  font-family: inherit;
  font-size: 1.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #252525;
  position: fixed;
  top: 10px;
  right: 10px;
}

.CloseButton:hover {
  background-color: #424242;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.NewSaleButton {
  position: fixed;
  right: 0.8rem;
  bottom: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #2cd448;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #424242;
}

.NewSaleButton:hover {
  background-color: #28b840;
  transition: 200ms;
}