* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;

}

body {
  background-color: #252525;
  color: white;
  font-family: 'Lato', sans-serif;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 3px solid gray;
}

h1,
h2 {
  text-align: center;
}

input[type="submit"],
button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  background-color: burlywood;
}

input[type="submit"]:hover {
  opacity: 90%;
}

input[type="text"],
input[type="number"] {
  font-size: 0.9rem;
  margin-left: 0.2rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
  background-color: rgb(189, 189, 189);
  border: none;
  border-radius: 4px;
}

.container {
  margin-top: 1.2rem;
}

/*HEADER*/

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-right: 3px solid gray;
  padding: 0.5rem;
}

.link:hover {
  opacity: 60%;
}

.link>span:first-child {
  font-size: 1.5rem;
}

.link:last-child {
  border: none;
}

/*SALES*/

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  width: 50%;
  margin: 2rem auto;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

.form-field>input {
  width: 60%;
}

.error {
  font-size: 0.9rem;
  color: tomato;
  display: block;
}

/*REPORT*/

.flex-records {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 2rem;
}

.first-line {
  display: flex;
  justify-content: space-around;
}

.second-line {
  align-self: center;
}

.record {
  height: 14rem;
  width: 18rem;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #424242;
  box-shadow: 4px 4px 10px #141414;
}

.record>span {
  display: block;
}