.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d1d1d;

  border-right: #414141 1px solid;
}

.sidebar svg {
  font-size: 1.5rem;
}

.navigation-links {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 1rem;
}

.link {
  position: relative;
  padding: 0.5rem 0.8rem;

  display: flex;
  align-items: center;

  text-decoration: none;
  font-weight: 700;
  color: #CFC5BC;
  opacity: 60%;
}

.link:hover,
.active {
  opacity: 100%;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #CFC5BC;
  border-radius: 1px;
}